CompileFlags:
  Remove: [-m*, -f*, -nostartfiles]
  Add:
    - -isystem/home/moneer/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0
    - -isystem/home/moneer/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0/riscv32-esp-elf
