.pio
/compile_commands.json
/pcbDesign/Wristband_PCB/.history
/pcbDesign/usini_kicad_sensors
/pcbDesign/Wristband_PCB/Wristband_PCB-backups
/pcbDesign/Wristband_PCB/~Wristband_PCB.kicad_pcb.lck
/pcbDesign/Wristband_PCB/~Wristband_PCB.kicad_pro.lck
/pcbDesign/Wristband_PCB/Wristband_PCB.kicad_prl
